<section class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Post a Comments</legend>

    <!-- Text input-->
    <%= form_for [ @article, @comment ] do |f| %>
    <div class="form-group">
      <label class="col-md-2 control-label" for="textinput">Name</label>
      <div class="col-md-6">
        <%= f.text_field :author_name, class: 'form-control input-md',placeholder: "Name", required: true  %>
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-2 control-label" for="comments">Comment</label>
      <div class="col-md-6">
        <%= f.text_area :body, class: "form-control"%>
      </div>
    </div>
        <div class="form-group">
          <label class="col-md-2 control-label" for="comments"></label>
          <div class="col-md-6">
            <%= f.submit 'Submit' %>
          </div>
        </div>
        <%end%>
  </fieldset>
</section>



